.form {
  width: 480px;
  margin: 0 auto;
  margin-top: 140px;
  text-align: center;
}

.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #4b4cff;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
  width: 1240px;
  margin: 0 auto;
  padding-top: 120px;
}

.left {
  width: 320px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  min-height: 64px;
  cursor: pointer;
}

.inactive-link {
  color: var(--text-inactive-color);
  text-decoration: none;
  transition: opacity 0.2s;
}

.inactive-link:hover {
  opacity: 0.8;
}

.active-link {
  color: var(--text-primary-color);
  text-decoration: none;
}

.logout-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.8;
}

.center-container {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}