.ingredients-section {
  width: 50%;
  max-height: 912px;
  overflow-y: hidden;
  padding-top: 40px;
}

.ingredients-lists {
  margin-top: 40px;
}

.group {
  margin-bottom: 40px;
}

.group-header {
  margin-bottom: 24px;
}